#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/quilt/quilt.make

PACKAGE_NAME=s3cmd

configure: configure-stamp
configure-stamp: patch
	dh_testdir
	touch $@

build: configure

clean: patch
	dh_testdir
	dh_testroot

	S3CMD_PACKAGING=1 python setup.py clean
	-rm -f build-stamp
	-rm -f S3/*.pyc

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

	S3CMD_PACKAGING=1 python setup.py install --no-compile --root $(CURDIR)/debian/$(PACKAGE_NAME)
	rm -rf debian/$(PACKAGE_NAME)/usr/lib/python*/site-packages/*.egg-info

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs NEWS
	dh_installdocs
	dh_installman
	dh_pycentral
	dh_compress -X.py
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
